<div class="row">
    <div class="col-10">
        <button class="btn mr-2 upvote" (click)="upvoteQuote(true)">
        <fa-icon [icon]="faThumbsUp" class="mr-3 icon"></fa-icon>
        <span>{{ quote.upVotes }}</span>
      </button>
        <button class="btn downvote" (click)="downvoteQuote(true)">
        <fa-icon [icon]="faThumbsDown" class="mr-3 icon"></fa-icon>
        <span>{{ quote.downVotes }}</span>
      </button>
    </div>
    <div class="col-2 text-center">
        <button class="btn btn-danger" (click)="deleteQuote(true)">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
    </div>
</div>